name: First Workflow

on: 
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
    - name: Step One
      run: echo "Step One Log"
    
    - name: Step Two
      run: echo "Step Two Log"  
    
